= form_for(@employee) do |f|
  - if @employee.errors.any?
    #error_explanation
      %h2
        = pluralize(@employee.errors.count, "error")
        prohibited this employee from being saved:
      %ul
        - @employee.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :position_title
    %br/
    = f.text_field :position_title
  .field
    = f.label :is_manager
    %br/
    = f.check_box :is_manager
  .row#set-availability
    .col-sm-2.no-padding
      .col-sm-12.employee-row-height Monday
      .col-sm-12.employee-row-height Tuesday
      .col-sm-12.employee-row-height Wednesday
      .col-sm-12.employee-row-height Thursday
      .col-sm-12.employee-row-height Friday
      .col-sm-12.employee-row-height Saturday
      .col-sm-12.employee-row-height Sunday
    .col-sm-10.no-padding
      - @start_days.each do |day|
        .col-sm-12.employee-row-height
          - @hours.unshift('Off')
          = f.text_field day, {class: 'range', :data => {:id => day}}
          .slider-range{:data => {:id => day}}
          %br
            %input{type: "checkbox", :data => {:id => day}}
            Unavailable



  .actions
    = f.submit
