<p id="notice"><%= notice %></p>

<h1>Listing Employees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Position title</th>
      <th>Is manager</th>
      <th>Mon start</th>
      <th>Mon end</th>
      <th>Tues start</th>
      <th>Tues end</th>
      <th>Wed start</th>
      <th>Wed end</th>
      <th>Thurs start</th>
      <th>Thurs end</th>
      <th>Fri start</th>
      <th>Fri end</th>
      <th>Sat start</th>
      <th>Sat end</th>
      <th>Sun start</th>
      <th>Sun end</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.position_title %></td>
        <td><%= employee.is_manager %></td>
        <td><%= employee.mon_start %></td>
        <td><%= employee.mon_end %></td>
        <td><%= employee.tues_start %></td>
        <td><%= employee.tues_end %></td>
        <td><%= employee.wed_start %></td>
        <td><%= employee.wed_end %></td>
        <td><%= employee.thurs_start %></td>
        <td><%= employee.thurs_end %></td>
        <td><%= employee.fri_start %></td>
        <td><%= employee.fri_end %></td>
        <td><%= employee.sat_start %></td>
        <td><%= employee.sat_end %></td>
        <td><%= employee.sun_start %></td>
        <td><%= employee.sun_end %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
