<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Position title:</strong>
  <%= @employee.position_title %>
</p>

<p>
  <strong>Is manager:</strong>
  <%= @employee.is_manager %>
</p>

<p>
  <strong>Mon start:</strong>
  <%= @employee.mon_start %>
</p>

<p>
  <strong>Mon end:</strong>
  <%= @employee.mon_end %>
</p>

<p>
  <strong>Tues start:</strong>
  <%= @employee.tues_start %>
</p>

<p>
  <strong>Tues end:</strong>
  <%= @employee.tues_end %>
</p>

<p>
  <strong>Wed start:</strong>
  <%= @employee.wed_start %>
</p>

<p>
  <strong>Wed end:</strong>
  <%= @employee.wed_end %>
</p>

<p>
  <strong>Thurs start:</strong>
  <%= @employee.thurs_start %>
</p>

<p>
  <strong>Thurs end:</strong>
  <%= @employee.thurs_end %>
</p>

<p>
  <strong>Fri start:</strong>
  <%= @employee.fri_start %>
</p>

<p>
  <strong>Fri end:</strong>
  <%= @employee.fri_end %>
</p>

<p>
  <strong>Sat start:</strong>
  <%= @employee.sat_start %>
</p>

<p>
  <strong>Sat end:</strong>
  <%= @employee.sat_end %>
</p>

<p>
  <strong>Sun start:</strong>
  <%= @employee.sun_start %>
</p>

<p>
  <strong>Sun end:</strong>
  <%= @employee.sun_end %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
