.container
  %p#notice= notice
  %h1 Schedules
  %table
    %thead
      %tr
        %th schedule id
        %th Dates
        %th Go

        %th{:colspan => "3"}
    %tbody
      - output_schedules = []
      - @schedules.each do |s|
        - if output_schedules.include? s.schedule_id
          - next
        - else
          - output_schedules.push(s.schedule_id)
        %tr
          %td= s.schedule_id
          %td= s.start.strftime("%B %d, %A")
          %td
            = link_to 'View', :class => "btn btn-primary", :action => "show", :id => s.schedule_id


  %br/
  = link_to 'New Schedule', new_schedule_path
